<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Extractor</title>
    <link rel="stylesheet" href="../static/css/stlye.css">
</head>

<body>
    <div class="container">
        <header>
            <h1 class="header-text">News Extractor</h1>
            <nav>
                <ul>
                    <li class="home-nav"><a href="">Home</a></li>
                    <li class="sign-up-nav"> <a href="">Sign Up</a></li>
                </ul>
            </nav>
        </header>

        <div class="sidebar">
            <div class="form">
                <form action="#" method="post">
                    <fieldset>
                        <legend>Choose news source:</legend>
                        
                        <div>
                            <input type="checkbox" id="CNN" name='CNN' checked>
                            <label for="CNN">CNN</label>
                        </div>
                        
                        <div>
                            <input type="checkbox" id="BBC" name='BBC' >
                            <label for="BBC">BBC</label>
                        </div>
    
                        <div>
                            <input type="checkbox" id="OXFORD" name='OXFORD'>
                            <label for="OXFORD">OXFORD</label>
                        </div>
    
                        <div class="btn"><button type="submit">Send</button></div>
                    </fieldset>
                </form>
            </div>
            <div class="random-articles">Box 1</div>
            <div class="random-articles">Box 2</div>
            <div class="random-articles">Box 3</div>
            <div class="random-articles">Box 4</div>
        </div>
       
        <div class="articles">
            <div class="article">This is some articles</div>
            <div class="article">This is some articles</div>
            <div class="article">This is some articles</div>
            <div class="article">This is some articles</div>
            <div class="article">This is some articles</div>
            <div class="article">This is some articles</div>
            <div class="article">This is some articles</div>
            <div class="article">This is some articles</div>
            <div class="article">This is some articles</div>
            <div class="article">This is some articles</div>
            <div class="article">This is some articles</div>
            <div class="article">This is some articles</div>
        </div>
    </div>
    <footer>
        <p class="footer-item">Copyright @ Somebody 2025</p>
    </footer>
</body>

</html>